.main-heading{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 14px;
}
.underline {
    height: 4px;
    width: 88px;
    background-color: brown;
    border-radius: 8px;
    margin-bottom: 16px;
}
.bg-gray {
  background-color: #f2f2f2;
}

.box-card {
  background-color: #ffffff;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: 1px solid #e6e6e6;
}

.box-card img {
  height: 250px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.box-card-body {
   padding: 16px 20px;
}

.box-card .box-card-heading {
  font-size: 20px;
  color: #2e2b6f;
  font-weight: bold;
  margin-bottom: 12px;
}

.box-card .box-card-body p {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}
